
\.svn/

Fontes/ACBrBoleto/__history/

*.dcu


Exemplos/ACBrDFe/ACBrMDFe/Delphi/__history/

Exemplos/ACBrDFe/ACBrNFe/Delphi/__history/

Fontes/ACBrBoleto/__history/

*.dcu

log_Delphi_XE3\.txt

Fontes/ACBrDFe/ACBrMDFe/DAMDFE/Fast/__history/

Fontes/ACBrDFe/ACBrNFe/ACBrNFeServicos_bkp\.ini

ACBrInstall_Trunk2_\.ini
